html, body {
  height: 100%;
  width: 100%; }

body {
  overscroll-behavior-y: none; }

.wrapper {
  max-width: 90%;
  margin: 0 auto; }

#canvas {
  width: 100%;
  height: 800px;
  background-color: #B52DAF; }

.skew {
  transform: skewY(-4deg); }

.unskew {
  transform: skewY(4deg); }

#banner {
  position: fixed;
  top: -200px;
  width: 100%; }

.bannerContent {
  position: absolute;
  top: 47%;
  left: 30%;
  color: #EFE7E7;
  font-size: 70px;
  text-align: center;
  width: 600px; }

.mainTitle {
  font-family: 'Oswald', sans-serif; }

.subText {
  font-size: 22px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 15px; }

.bannerButton {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  position: relative;
  top: 20px;
  border: 2px solid #EFE7E7;
  text-decoration: none;
  font-size: 17px;
  color: #EFE7E7;
  padding: 10px 30px;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out; }

.bannerButton:hover {
  padding: 10px 50px; }

#divider {
  width: 100%;
  height: 50px;
  background-color: #FFFCFC;
  position: fixed;
  top: 600px;
  text-align: center; }
  #divider img {
    height: auto;
    width: 40px;
    position: relative;
    top: 15px;
    left: 10px; }

#highlights {
  position: relative;
  top: 650px;
  background-color: #993595;
  width: 100%;
  height: 400px;
  padding-top: 230px;
  padding-bottom: 80px;
  text-align: center; }

#highlights::after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #993595;
  position: absolute;
  bottom: -50;
  left: 0;
  transform: skewY(4deg); }

.highlightItem {
  display: inline-block;
  width: 300px;
  color: #EFE7E7;
  margin-left: 100px;
  position: relative;
  left: -60px; }
  .highlightItem .highTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 50px; }
  .highlightItem .highDescription {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.6rem; }
  .highlightItem img {
    margin: 40px 0; }
  .highlightItem .designImg {
    height: 5em;
    width: auto;
    padding-top: 22px;
    position: relative;
    top: -20px; }
  .highlightItem .frontImg {
    height: 5em;
    width: auto;
    position: relative;
    top: -15px; }
  .highlightItem .frontTitle {
    position: relative;
    top: -18px; }
  .highlightItem .frontDesc {
    position: relative;
    top: -19px; }
  .highlightItem .backImg {
    height: 6em;
    width: auto;
    margin-top: 20px;
    position: relative;
    top: 16px; }
  .highlightItem .design {
    position: relative;
    top: -40px; }
  .highlightItem .designDesc {
    position: relative;
    top: -20px; }

#projects {
  position: relative;
  top: 650px;
  background: linear-gradient(#B52DAF, #782E75);
  padding: 20px;
  color: #EFE7E7; }
  #projects .wrapper {
    padding-top: 200px;
    max-width: 85%; }

.projectItem {
  margin-bottom: 150px; }

.projText {
  text-align: center;
  margin-left: 250px;
  position: relative;
  top: -150px; }

.projTitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 50px;
  display: block; }

.projInline {
  display: inline-block; }

.jamieProj {
  left: 20px; }

.projButton {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  position: relative;
  top: 20px;
  border: 2px solid #EFE7E7;
  text-decoration: none;
  font-size: 17px;
  color: #EFE7E7;
  padding: 10px 30px;
  border-radius: 2rem;
  display: inline-block;
  width: 60px; }

#contact {
  position: relative;
  top: 650px;
  text-align: center;
  background-color: #B52DAF;
  color: white;
  font-size: 50px;
  padding: 60px 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500; }
  #contact a {
    text-decoration: none;
    color: white;
    margin-left: 185px; }
  #contact span {
    position: relative;
    left: -150px; }
  #contact img {
    padding-right: 20px;
    height: auto;
    width: 60px;
    position: relative;
    top: 10px; }

#footer {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  top: 650px;
  color: white;
  background-color: #B52DAF;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 5px; }

/*# sourceMappingURL=main.css.map */
